<!DOCTYPE html>
<html class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
        {% if app.user and not app.request.cookies.get('timezone') %}
            <script>
                window.location.replace("{{ path('app_set_timezone') | escape('js') }}?timezone=" + Intl.DateTimeFormat().resolvedOptions().timeZone + "&return=" + window.location.href);
            </script>
        {% endif %}
        <title>{% block title %}Runotab{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="h-full">
        {% include 'header.html.twig' %}
        {% block main %}{% endblock %}
    </body>
</html>
